@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    --background-primary: #383838;
    --background-secondary: #066163;
    --text-primary: #F2F2F2;
    --text-secondary: #CDBE78;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background-primary);
    color: var(--text-primary)
}
#landing {
    height: 100vh;
    width: 100vw;
}
#landing .main {
   
    /* position: absolute; */
}

.introduction {
    font-family: 'Bebas Neue', cursive;
    width: 50%;
}

.introduction h1 {
    font-size: 4em;
}
.introduction h2 {
    color: var(--text-secondary);
}
.socials i {
    font-size: 1.7em;
    color: var(--text-secondary);
}

.nav {
    position: relative;
    top: 300px;
    color: var(--text-secondary)
}

.nav a {
    font-size: 1.5em;
    transition: 0.4s ease;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
}

.nav a:hover {
    color: var(--text-primary);
    text-decoration: underline;
}

#skills {
    height: 100vh;
    width: 100vw;
}

#skills .main {
    width: 100vw;
}

#skills .main div {
    padding: 20px;
}

#skills .main i{
    font-size: 4em;
}