{% extends 'base.html' %} {% block content %}
<section id="landing">
  <div class="main flex">
    <div class="introduction relative inset-52">
      <h1>Daniel</h1>
      <br />
      <h1 class="text-black ml-5">Webala</h1>
      <br />
      <h1 class="ml-4">Mathu</h1>
      <h2 class="text-2xl text-black">Full-Stack developer</h2>
      <div class="socials my-10">
        <span class="mr-4 hover:animate-bounce p-4">
          <a href="https://github.com/webala" target="_blank"><i class="uil uil-github"></i></a>
        </span>
        <span class="mr-4 hover:animate-bounce p-4">
          <a href="https://twitter.com/Webbie1001" target="_blank">
            <i class="uil uil-twitter"></i>
          </a>
        </span>
        <span class="mr-4 hover:animate-bounce p-4">
          <a href="" target="_blank"><i class="uil uil-discord"></i></a>
        </span>
      </div>
    </div>

    <div class="nav">
      <span class="mr-10 mb-10">
        <a href="#skills">Stack</a>
      </span>

      <span class="mr-10 mb-10">
        <a href="#">Projects</a>
      </span>
      <span class="mr-10 mb-10">
        <a href="#">About</a>
      </span>
      <span class="mr-10 mb-10">
        <a href="">Resume</a>
      </span>
      <span class="mr-10 mb-10">
        <a href="">Contact</a>
      </span>

      <!-- <div class="tenor-gif-embed" data-postid="24408873" data-share-method="host" data-aspect-ratio="0.940625" data-width="100%">
            <a href="https://tenor.com/view/hello-gif-24408873">Hello Sticker</a>from 
            <a href="https://tenor.com/search/hello-stickers">Hello Stickers</a>
        </div> 
        <script type="text/javascript" async src="https://tenor.com/embed.js"></script> -->
    </div>
  </div>
</section>
<section id="skills">
  <div class="main ">
    <h1>Languages</h1>
    <div class="languages grid grid-cols-4 place-items-center gap-y-10">
      <div class="item group">
        <i class="devicon-python-plain colored"></i>
        <p class="item-text">Python</p>
      </div>
      <div class="item group">
        <i class="devicon-javascript-plain colored"></i>
        <p class="item-text">Javascript</p>
      </div>
      <div class="item group">
        <i class="devicon-cplusplus-plain colored"></i>
        <p class="item-text">C++</p>
      </div>
      <div class="item group">
        <i class="devicon-rust-plain"></i>
        <p class="item-text">Rust</p>
      </div>
      <div class="item group">
        <i class="devicon-html5-plain colored"></i>
        <p class="item-text">HTML5</p>
      </div>
      <div class="item group">
        <i class="devicon-css3-plain colored"></i>
        <p class="item-text">CSS</p>
      </div>
      <div class="item group">
        <i class="devicon-solidity-plain"></i>
        <p class="item-text">Solidity</p>
      </div>
    </div>

    <h1>Frameworks and Libraries</h1>

    <div class="frameworks grid grid-cols-4 place-items-center gap-y-10">
      <div class="item group">
        <i class="devicon-django-plain"></i>
        <p class="item-text">Django</p>
      </div>
      <div class="item group">
        <i class="devicon-flask-original"></i>
        <p class="item-text">Flask</p>
      </div>
      <div class="item group">
        <i class="devicon-nextjs-original-wordmark"></i>
        <p class="item-text">NextJs</p>
      </div>
      <div class="item group">
        <i class="devicon-react-original"></i>
        <p class="item-text">React</p>
      </div>
      <div class="item group">
        <i class="devicon-tailwindcss-original-wordmark"></i>
        <p class="item-text">Tailwindcss</p>
      </div>
      <div class="item group">
        <i class="devicon-bootstrap-plain colored"></i>
        <p class="item-text">Bootstrap</p>
      </div>
      <div class="item group">
        <i class="devicon-nodejs-plain colored"></i>
        <p class="item-text">NodeJS</p>
      </div>
    </div>

    <h1>Database</h1>
    <div class="database flex">
      <div class="item group">
        <i class="devicon-postgresql-plain colored"></i>
        <p class="item-text">Postgresql</p>
      </div>
    </div>

    <h1>Tools</h1>
    <div class="tools grid grid-cols-4 place-items-center gap-y-10">
      <div class="item group">
        <i class="devicon-git-plain colored"></i>
        <p class="item-text">Git</p>
      </div>
      <div class="item group">
        <i class="devicon-github-original colored"></i>
        <p class="item-text">Github</p>
      </div>
      <div class="item group">
        <i class="devicon-vscode-plain colored"></i>
        <p class="item-text">VS Code</p>
      </div>
      <div class="item group">
        <i class="devicon-npm-original-wordmark colored"></i>
        <p class="item-text">NPM</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
